
@import "./base/mixin";

#wrap{width: 100%;height:auto; position:relative;}
  #headBox{width:100%;height:130px; min-width:60rem;background-color:rgba(#fff,0.5);position:absolute; 
            z-index:1000;padding:1.875rem 3.125rem 0; @include border-box;
    >h1{width: 23.75rem;height: 4.375rem; float:left; @include background_package($f:"logo_re.png", $p:center, $s:cover);
      >a{width:inherit; height:inherit;display:block;}//h1>a
      }//h1
    >.unb{width:30rem; height:2.5rem;float:right; margin-top:1.875rem;
      >.sign{width:17.5rem; height:2.5rem; float:left;
         >ul{width: 100%; height: 100%; margin-right:2rem;
           >li{width: 5.625rem; height: 100%;margin-right:0.4rem; float:left; text-align:center; line-height:3.4375rem;
             &:first-child{width: 5rem;}
             &:last-child{margin-right:0;}
            >a{width: 100%;height: 100%;}
             }//li
           }//ul
         }//.unb>.sign
       >.sns{width:11.875rem;height:2.5rem;float:right;
         >ul{width:100%;height:100%;
          >li{width:2.5rem;height:2.5rem;margin-right:0.4rem;float:left; 
              text-align:center;font-size:2rem;padding-top:0.3125rem; @include border-box;
            &:last-child{margin-right:0;}
            }//ul>li
          }//ul
         }//.unb>.sns
       }//.unb
    >.gnb{width:0; height:0;
    >.menu_btn{width:2.375rem; height:4.5625rem; @include background_package($f:"main/menu_btn.png",$s:cover);
               position:fixed; top:50%; margin-top:-2.28125rem; left:0;z-index:700;
               cursor:pointer; 
               }//.menu_btn
    >.big_menu{width:25.625rem; height:100%; background-color:rgba(0,0,0,0.7);transition:all 300ms;
               position:fixed; left:0; top:0; z-index:600; transform:translateX(-25.625rem);
               color:$white; padding:2.5rem 1.25rem; @include border-box;
               &.open{transform:translateX(0);}
      >.btn{width:auto;height:auto; float:right;
        >button{width: 100%;height: 100%; color:$white; font-size:2.5rem; margin-bottom:2.8125rem;}
        }//btn
      >.big_menu_list{width:100%;height:auto;float:left;
        >li{width:23.125rem; height:4.375rem; line-height:4.375rem; font-size:3rem;
            margin-bottom:2.8125rem; text-align:center;}//.big_menu_list>li
        }//.big_menu_list
      }//.big_menu
   }//.gnb
    >.small_menu_list{width: 1440px;height:60px;background-color:rgba($blue, 0.8);margin-top:6.25rem;
                      margin-left:23.75rem;color:$white; padding:10px; @include border-box;
      >li{width: 100px;height: 40px; float:left; text-align:center; line-height:40px; margin-right:45px;
        &:last-child{margin-right:0;}
        >a{width: 100%;height: 100%;}
        }//li
      }//.small_menu_list(ul)
    }//#headBox

  #travel_info{width:100%;height:auto;
    >.bannerBox{width: 100%;height:800px;overflow:hidden;
      >ul{width:500%;height:100%;
        >li{width:20%;height:100%; float:left;
          &.honey_cosamuyi{@include background_package($f:"tema/banner_honeymoon/banner_1.png", $s:cover);}//nth-of-type(1)
          &.honey_europe{@include background_package($f:"tema/banner_honeymoon/banner_2.png", $s:cover, $p:0 -150px);}//nth-of-type(2)
          &.honey_peru{@include background_package($f:"tema/banner_honeymoon/banner_3.png", $s:cover, $p:0 -70px);}//nth-of-type(3)
          &.honey_menggu{@include background_package($f:"tema/banner_honeymoon/banner_4.png", $s:cover, $p:0 -200px);}//nth-of-type(4)
          &.honey_spain{@include background_package($f:"tema/banner_honeymoon/banner_5.png", $s:cover);}//nth-of-type(5)
          >a{width: 100%;height: 100%; display:block;}
          }//li
        }//ul
      }//.bannerBox
    >.honeymoone_list{width: 100%;height: 1560px; padding:65px 230px; @include border-box;
      >a{width: 260px;height: 320px;  float:left; margin-right:35px; margin-bottom:50px;
        @for $i from 1 through 20{
                  &:nth-of-type(#{$i}) dt{@include background_package($f:'tema/li_honeymoon/honeymoon_' + $i + '.png', $s:cover);}
            }//@for
          &:nth-of-type(5n){margin-right:0;}
          &:nth-of-type(16){margin-bottom:0;}
          &:nth-of-type(17){margin-bottom:0;}
          &:nth-of-type(18){margin-bottom:0;}
          &:nth-of-type(19){margin-bottom:0;}
          &:nth-of-type(20){margin-bottom:0;}
        >dl{width:260px; height:320px;
          >dt{width:100%;height: 260px; margin-bottom:10px;}//dt
          >dd{width:100%;height: 50px;text-align:center; line-height:25px;}//dd
          }//dl
        }//a
      }//.honeymoone_list
    }//#travel_info

  #footBox{width:100%;height: 155px; background-color:#333; padding:0 10px;
           @include border-box; color:$white;
    >.familybtn{width:100%;height:45px;border-bottom:1px solid $white; padding:8px 0;
           @include border-box;
      >li{width:310px;height:100%;float:left;border-left:1px solid $white; line-height:29px;
          text-align:center;
        &:first-child{border-left:none;}
        >a{width: 100%;height: 100%;}//li>a
        }//li
      }//.familybtn
    >.info{width:920px;height:110px;float:left; margin-left:80px;
      >p{width: 100%;height: 70px;margin-top:20px;}
      }//.info
    >.tel{width:300px; height:110px;float:right; margin-right:80px;
      >dl{width: 100%;height: 100%;
      >dt{line-height:50px;}
      >dd{font-size:2.5rem;}
        }//dl
      }//.tel
    }//#footBox